spring:
  application:
    name: XmlParser

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  springdoc:
    swagger-ui:
      path: /swagger-ui.html
    api-docs:
      path: /api-docs